.login{
	height: 200px;
    width: 460px;
	position:absolute;
	top: calc(50% - 200px/2);
	left: calc(50% - 460px/2);
}
.wrapp_form{
	width: 510px;
	left: calc(50% - 510px/2);
}
.login div{
	margin-bottom: 20px;
}
.login div input{
	float: right;
    padding: 2px 5px;
    font-size: 20px;
	margin-top: -2px;
}
.login div label{
	font-size: 20px;
}
#submit{
	width: 100%;
    padding: 10px;
    border: 0;
    font-size: 20px;
}
.register{
	text-align: center;
    margin-top: 10px;
}
.errorlist li{
	list-style-type:none;
	color: red;
}
.header, .footer{
    height: 60px;
    background-color: #212121;
}
.logo img{
    height: 40px;
    margin-left: 50px;
    margin-top: 10px;
}
.logo{
    float:left;
}
.logout a{
    float: right;
    margin: 20px 80px;
    color: white;
}
.logout a:hover{
    color: #1B79C7;
}
.main p{
    font-size: 20px;
}
.main p:first-child{
    font-size: 30px;
    font-weight: bold;
    color: #0563b1;
}
.main{
    width: 1000px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
* {
  margin: 0;
  padding: 0;
}
.content {
  min-height: calc(100vh - 150px);
}