{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Результаты</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="{% static 'css/template.css' %}" />
    </head>
    <body>
        <div class="wrapper">
            <div class="container-fluid header">
                <div class="row">
                    <div class="col-md-6 logo">
                        <a href="\"><img src="{% static 'img/logo.png' %}" /></a>
                    </div>
                    <div class="col-md-6 logout">
                        <a href="\auth\logout\">Выйти</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid main content">
                <div class="row">
                    <div class="col-md-12">
                        {% for ans in answer %}
                            <p>{{ ans }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container-fluid footer">
                <div class="row">
                    <div class="col-md-6 logo">
                        <a href="www.expoforum.ru/"><img src="{% static 'img/expoforum.png' %}" /></a>
                    </div>
                    <div class="col-md-6 logout">
                        <a href="/admin/">Административная панель</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>