{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Вход</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/template.css' %}" />
  </head>
  <body>
    <div class="container-fluid header">
            <div class="row">
                <div class="col-md-12 logo">
                    <a href="\"><img src="{% static 'img/logo.png' %}" /></a>
                </div>
            </div>
        </div>
	
	{% block login_auth %}
	<div class="login">
		<form action="/auth/" method="POST">
			{% csrf_token %}
			<div class="username">
				<label for="username">Имя пользователя:</label>
				<input type="text" name="username" id="username">
			</div>
			<div class="password">
				<label for="password">Пароль:</label>
				<input type="password" name="password" id="password">
			</div>
			{% if login_error %}
			<label class="error">{{ login_error }}</label>
			{% endif %}
			<input id="submit" type="submit" value="Войти">
		</form>
		<p class="register"><a  href="/auth/register/">Еще не зарегистрированы? Тогда вам сюда!</a></p>
	</div>
	{% endblock login_auth %}
	
	
  </body>
</html>